.navBar {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;

	.logo-container {
		width: 30%;
		display: flex;
		align-items: center;
		padding-left: 25px;
	}

	.nav-links-container {
		width: 70%;
		height: 100%;
		padding-right: 25px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.nav-link {
			padding: 10px 15px;
			cursor: pointer;
		}
	}
}
